<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>force-layout bakeoff</title>
</head>
<body>
<h1>force-layout bakeoff</h1>
<ul>
    <li><a href="d3-force">d3-force</a></li>
    <li><a href="ngraph">ngraph</a></li>
</ul>
</body>
</html>