<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>force-layout bakeoff</title>
</head>
<body>
    <h1>force-layout bakeoff</h1>
    <fieldset>
        <legend>d3-force</legend>
        <ul>
            <li>canvas</li>
            <ul>
                <li><a href="d3-force-canvas-ball#2000">hairball</a></li>
                <li><a href="d3-force-canvas-sqrt#2000">square roots</a></li>
            </ul>
        </ul>
        <ul>
            <li>pixi.js</li>
            <ul>
                <li><a href="d3-force-pixi-ball#2000">hairball</a></li>
                <li><a href="d3-force-pixi-sqrt#2000">square roots</a></li>
            </ul>
        </ul>
    </fieldset>
    <fieldset>
        <legend>ngraph</legend>
        <ul>
            <li>canvas</li>
            <ul>
                <li><a href="ngraph-canvas-ball#2000">hairball</a></li>
                <li><a href="ngraph-canvas-sqrt#2000">square roots</a></li>
            </ul>
        </ul>
        <ul>
            <li>pixi.js</li>
            <ul>
                <li><a href="ngraph-pixi-ball#2000">hairball</a></li>
                <li><a href="ngraph-pixi-sqrt#2000">square roots</a></li>
            </ul>
        </ul>
    </fieldset>
</body>
</html>